.title-card {
    color: #181833;
    font-family: "Inter", sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 24px;
}

.card {
    position: relative;
    display: flex;
    width: 424px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.main-text {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-content {
    color: #2D2D2D;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0,5px;
    margin-bottom: 12px;

}

.text-content {
    position: relative;
    padding-left: 1.5em;
}

.text-content::before {
    content: '•';
    position: absolute;
    left: 0;
    top: 4px;
    color: black;
    font-size: 1.1em;
    line-height: 1;
}

.link {
    position: absolute;
    bottom: 24px;
    right: 24px;
    color: #2D2D2D;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-decoration-line: underline;


}